*, ::before, ::after{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

$vert: #00e056;
$vert2: #00ff62;
$bleu: #2F80ED;
$rouge: #ff1111;
$indigo: #04157b;

body{
    background-image: linear-gradient(120deg, $vert, $bleu);
    min-height: 100vh;
}

header{
    font-size: 1.5em;
    color: #f70000;
}

header, form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5em;
    font-size: 2rem;
    border: none;
    background: white;
    border: 2px solid $indigo;
    outline: none;
}

form button{
    color: white;
    background: $indigo;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover{
        color: $indigo;
        background: white;
        border: 2px solid $indigo;
        border-left: none;
    }
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: #fff;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease;
    li{
        flex: 1;
    }
}

.trash-btn{
    background: $rouge;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin: 0.2rem;
}

.complete-btn{
    background: $vert2;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin: 0.2rem;
}

.edit-btn{
    background: #eeff00;
    color: #000;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin: 0.2rem;
}

.todo-item{
    padding: 0 0.5rem;
    color: black;
}

.completed {
    opacity: .5;
}

.completed .todo-item{
    text-decoration: line-through;
}

.fall {
    transform: translateY(-10rem) translateX(10rem)  rotateZ(3600deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: $indigo;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: $vert;
    color: white;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all .3s ease-in-out;
}

.select:hover::after{
    background: white;
    color: $vert; 
}
